*
{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header
{
    font-size: large;
    font-weight: bold;
}

.questions
{
    margin: auto;
    width: 20%;
}

.questionButton
{
    border: none;
    background: #eee;
    cursor: pointer;
    font-size: 1.2em;
}

.questionText
{
    text-align: center;
    padding-right: 100px;
}

.scoreboard-r,
.scoreboard-g,
.scoreboard-t,
.scoreboard-icons
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    gap: 5px;
}

.scoreboard__name,
.scoreboard__score-r,
.scoreboard__score-g,
.scoreboard__score-t
{
    padding: 10px;
    text-align: center;
}

.scoreboard__score-g
{
    color: #009578
}

.scoreboard__score-r
{
    color: crimson
}

.scoreboard__score-t
{
    color: blueviolet;
}

progress
{
    width: 0;
    min-width: 100%;
}

.scoreboard__name
{
    font-weight: bold;
    border-bottom: 1px solid #ddd;

}

.scoreboard__name--one
{
    color: #009578
}

.scoreboard__name--two
{
    color: #2d0095
}

.scoreboard__name--three
{
    color: #eb9234
}

.scoreboard__name--four
{
    color: #58eb34
}

.scoreboard__name--five
{
    color: #dc34eb
}

.scoreboard__score-r,
.scoreboard__score-g,
.scoreboard__score-t
{
    font-size: 2em;
}

.scoreboard__controls-r,
.scoreboard__controls-g
{
    display: flex
}

.scoreboard__control-button-r,
.scoreboard__control-button-g
{
    flex-grow: 1;
    border: none;
    background: #eee;
    cursor: pointer;
    font-size: 1.2em;
}

.scoreboard__control-button:hover
{
    background: #ddd;
}

.scoreboard__control-button:active
{
    background: #ccc;
}

.scoreboard__icon
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.scoreboard__icon img
{
    width:100px;
    height:100px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}